.sc-7{
    background-color: #3298C0;
    min-height: 45vh;
    height: 45%;
    display: flex;
    gap: 25px;
}

.sc-7 .project-description  a{
   display: block;
    top: 15px;
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 15px;
    padding: 10px;
}



@media (max-width: 768px){
    .sc-7{
        background-color: #3298C0;
        min-height: 45vh;
        height: 45%;
        display: flex;
        gap: 25px;
        flex-direction: row;
    }

    .sc-7 .project-description  a{
   display: block;
    top: 15px;
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 15px;
    padding: 10px;
}


}

@media (max-width: 576px){
    .sc-7{
        background-color: #3298C0;
        min-height: 45vh;
        height: 45%;
        display: flex;
        gap: 25px;
        flex-direction: column;
    }

     .sc-7 .project-description  a{
   display: block;
    top: 15px;
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 15px;
    padding: 10px;
}


}