.sc-6{
    background-color: #3298C0;
    min-height: 50vh;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

.sc-6 .technologies-title h2{
    color: #FDEEC7;
}

.sc-6 .technologies-title  ul li{
    list-style-type: disc;
    color: #FDEEC7;
    margin: 10px;
    text-align: justify;
}

.sc-6 .technologies-description ul li{
    list-style-type: disc;
    color: #FDEEC7;
    margin: 10px;
    text-align: justify;
}

@media (max-width: 768px){
    .sc-6{
        background-color: #3298C0;
        min-height: 50vh;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .sc-6 .technologies-title h2{
        color: #FDEEC7;
    }
    
    .sc-6 .technologies-description ul li{
        list-style-type: disc;
        color: #FDEEC7;
        margin: 10px;
        text-align: justify;
    }
}

@media (max-width: 576px){
    .sc-6{
        background-color: #3298C0;
        min-height: 50vh;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .sc-6 .technologies-title h2{
        color: #FDEEC7;
    }
    
    .sc-6 .technologies-description ul li{
        list-style-type: disc;
        color: #FDEEC7;
        margin: 25px;
        text-align: justify;
    }
}