.sc-1{
     background-color: #52D1E3;
     display: flex;
     justify-content: space-around;
     min-height: 50vh;
     height: 50%;
    
     
}

.sc-1 .profil-name h1{
     color: #F5FCF4;
     margin: 10px;
}

.sc-1 .profil-name .front-title{
    color: #D44500;
}
.sc-1 .profil-description h3{
    color: #D44500;
    margin: 10px;
}

.sc-1 .profil-description a{
    color: #215A91;
   
}



@media (max-width: 768px){
    .sc-1{
        background-color: #52D1E3;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        min-height: 100vh;
        height: 100%;
   }
   
   .sc-1 .profil-name h1{
        color: #F5FCF4;
        margin: 10px;
   }
   
   .sc-1 .profil-name .front-title{
       color: #D44500;
       margin: 10px;
   }
   .sc-1 .profil-description h3{
       color: #D44500;
       margin: 10px;
   }

   .sc-1 .profil-description a{
    color: #215A91;
   
}
}

@media (max-width: 576px){
    .sc-1{
        background-color: #52D1E3;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
       
        
   }
   
   .sc-1 .profil-name h1{
        color: #F5FCF4;
        margin: 10px;
   }
   
   .sc-1 .profil-name .front-title{
       color: #D44500;
   }
   .sc-1 .profil-description h3{
       color: #D44500;
       margin: 10px;
   }

   .sc-1 .profil-description a{
    color: #215A91;
   
}
}
